@charset "UTF-8";
/* CSS Document */
/* CSS Reset */
body, p, h1, h2, h3, h4, h5, h6 {
    padding: 0;
    margin: 0;
    
}

header{
    background-image: url(images/banner.png);
    background-repeat: no-repeat;
    margin-left: 10%;
    padding: 6rem 0 0 10%;
}
header h1{
    color: #fff;
    font-size: 4rem;
    text-shadow: 1px 1px 4px #000;
}

header h2{
    color: #fff;
    font-size: 3rem;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4px #000;
}
main{
    padding: 2rem 0 0 10%;
    margin-right: 10%;
}

main h2, h1{
    color: #8aacb8;
    text-shadow: 1px 1px 4px #000;
    font-size: 2rem;
}

body{
    font-family: 'Noto Sans', sans-serif;
    font-weight: 300;
    color: #7997a1;
    background-color: white;
    font-size: 16px;

}

ul{
    padding-left: 3rem;
}

.ribbon{
    float right;
}



footer p {
    color: #000;
    text-align: center;
    padding: .5rem;
    font-size: .8rem;
    font-weight: 600;
    margin-left: 10rem;
    background-color: #8aacb8;
    margin-right: 10%;

}